<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apps that pop!">
    <meta name="author" content="Spree Forty Three">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/ico/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/ico/site.webmanifest">
    <link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#a4bb13">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Spree Forty Three">
    <meta name="application-name" content="Spree Forty Three">
    <meta name="msapplication-TileColor" content="#a4bb13">
    <meta name="msapplication-TileImage" content="/assets/ico/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
    <meta name="theme-color" content="#a4bb13">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
